<main>
    <p class="h3 mb-3">Lista</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Evento</th>
          <th scope="col">Data</th>
          <th scope="col">Localização</th>
          <th scope="col">Participação</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let evento of events">

        <tr>
          <th>
            <span *ngIf="evento.status === 0" class="text-secondary">Encerrado</span>
            <span *ngIf="evento.status === 1" class="text-primary">Ativo</span>
          </th>
          <td> <a href="/admin/event/detail/{{evento.id}}" style="text-decoration: none; color: black;">{{evento.title}}</a> </td>
          <td> <a href="/admin/event/detail/{{evento.id}}" style="text-decoration: none; color: black;">{{evento.date}}</a></td>
          <td> <a href="/admin/event/detail/{{evento.id}}" style="text-decoration: none; color: black;">{{evento.location}}</a></td>
          <td> <a href="/admin/event/detail/{{evento.id}}" style="text-decoration: none; color: black;">{{evento.customers}}</a></td>
          <td> <a href="/admin/event/detail/{{evento.id}}" style="text-decoration: none;">detallhes</a></td>
        </tr>          

      </tbody>
    </table>
  </main>
