<header class="p-3 bg-light text-dark" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="assets/images/evenhi-logo.png" alt="Logo" class="header-logo" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Contato</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Sobre</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Pesquisar eventos..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light text-dark" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#signUpModal">Cadastrar</button>
        </div>
      </div>
    </div>
  </header>

 <!-- Modal Login -->
 <app-login></app-login>


 <!-- Sign-up Login -->
 <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">Entre no EvenHi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="email" placeholder="Email" class="form-control" id="inputEmailSignUp" aria-describedby="emailLogin">
        </div>

        <div class="mb-3">
          <button class="btn btn-outline-info m-1" (click)="activeInputCpf()">CPF</button> 
          <button class="btn btn-outline-info m-1" (click)="activeInputRg()">RG</button>
        </div>        
        
        <div class="mb-3" *ngIf="enableCpf">
          <input type="text" placeholder="Cpf" class="form-control" id="cpf" aria-describedby="cpfLogin">
        </div>  

        <div class="mb-3" *ngIf="enableRg">
          <input type="text" placeholder="Rg" class="form-control" id="rg" aria-describedby="rgLogin">
        </div>          

        <div class="mb-3">
          <input type="password" placeholder="Senha" class="form-control" id="exampleInputPassword1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Cadastrar</button>
      </div>
    </div>
  </div>
</div> 