
<div class="row">
  <div class="col-auto">
    <nav class="">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/admin/event/list" class="nav-link text-white" aria-current="page" (click)="goToInicio()">
              <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg> -->
              <svg class="bi me-2" width="16" height="16"></svg>
              Início
            </a>
          </li>
          <li>
            <a href="/admin/event/create" class="nav-link text-white" aria-current="page" (click)="goToCriarEvento()">
              <svg class="bi me-2" width="16" height="16"></svg>
              Criar Evento
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              Voltar para  o Site
            </a>
          </li>
          <li>
            <a href="/logout" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              Sair
            </a>
          </li>
        </ul>
      </div> 
    </nav>
  </div>

  

  <div class="col">
    <app-admin-list-event *ngIf="enableListEvent"></app-admin-list-event>
    <app-admin-create-event *ngIf="enableCreateEvent"></app-admin-create-event>
    <app-admin-detail-event *ngIf="enableDetailEvent" [eventModel]="eventModel"></app-admin-detail-event>
    <app-admin-myaccount *ngIf="enableAccountEdit" [userModel]="userModel"></app-admin-myaccount>
  </div>  

</div>





