<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-muted">© 2022 Company, Inc. Todos os direitos reservados.</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Cidades</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Goiânia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Fortaleza</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Campinas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Florianópolis</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Recife</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Categoria</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Moda e Beleza</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Games e Geek</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Religião e Espiritualidade</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Infantil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Arte, Cultura e Lazer</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Ajuda</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contato</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Eventos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Universidades</a></li>
        </ul>
      </div>
    </footer>
  </div>